{% extends 'giao_vien/base.html' %}

{% load static %}


{% block title %}{% endblock %}

{% block css %}
    <link href="{% static 'datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'math/katex.css' %}" />
    <link rel="stylesheet" href="{% static 'math/monokai-sublime.min.css' %}" />
    <link rel="stylesheet" href="{% static 'math/quill/quill.snow.css' %}" />
    <link rel="stylesheet" href="{% static 'custom/css/my_css.css' %}" />
{% endblock %}

{% block content %}

{% csrf_token %}

<div id="tab_content1">
    <div class="x_panel">
        <div class="x_content">
          <div id="wizard" class="form_wizard wizard_horizontal">
            <ul class="wizard_steps">
              <li>
                <a href="#step-1">
                  <span class="step_no">1</span>
                  <span class="step_descr">
                                    Bước 1<br />
                                    <small>Chọn cấu trúc đề</small>
                                </span>
                </a>
              </li>
              <li>
                <a href="#step-2">
                  <span class="step_no">2</span>
                  <span class="step_descr">
                                    Bước 2<br />
                                    <small>Chọn câu hỏi</small>
                                </span>
                </a>
              </li>
                <li>
                <a href="#step-3">
                  <span class="step_no">3</span>
                  <span class="step_descr">
                                    Bước 3<br />
                                    <small>Xem lại & lưu</small>
                                </span>
                </a>
              </li>
            </ul>
            <div id="step-1">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                <h5><b>Tên đề</b></h5>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="ten_de" id="ten_de" value="Khảo sát chất lượng">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3" >
                                <h5><b>Môn</b></h5>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control" id="gv_mon">
                                    {% for mon in list_mon %}
                                    <option value="{{ mon.id }}">{{ mon.ten_dai }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3" >
                                <h5><b>Kì học</b></h5>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control" id="ky_hoc">
                                    <option value="GKI" data-show="giữa kì I">Giữa kì I</option>
                                    <option value="CKI" data-show="cuối kì I">Cuối kì I</option>
                                    <option value="GKII" data-show="giữa kì II">Giữa kì II</option>
                                    <option value="CKII" data-show="cuối năm">Cuối kì II</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3" >
                                <h5><b>Năm học</b></h5>
                            </div>
                            <div class="col-md-9">
                                <table style="width:100%;">
                                    <tr>
                                        <td>
                                            <input type="number" min="2012" max="3000" id="year_0" size="4" value="{{year.0}}" class="form-control">
                                        </td>
                                        <td>
                                            <input type="number" min="2012" max="3000" id="year_1" size="4" value="{{year.1}}" class="form-control">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3" >
                                <h5><b>Thời gian</b></h5>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control" id="thoi_gian">
                                    <option value="10">10 phút</option>
                                    <option value="15">15 phút</option>
                                    <option value="45">45 phút</option>
                                    <option value="60">60 phút</option>
                                    <option value="90" selected>90 phút</option>
                                    <option value="120">120 phút</option>
                                    <option value="180">180 phút</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row " >
                            <table style="width: 100%;"  class="mytable">
                                    <tr class="mytable">
                                        <td><b>Chọn</b></td>
                                        <td><b>Loại câu hỏi</b></td>
                                        <td><b>Số lượng</b></td>
                                        <td><b>Tổng điểm</b></td>
                                    </tr>
                                    <tr class="mytable">
                                        <td><input type="checkbox" id="ck_tn" style="transform:scale(1.3)"></td>
                                        <td>
                                            <b> Trắc nhiệm</b>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control so_luong" min=0 max=100 name="sl_tn" value="0" disabled>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control phan_tram" min=0 max=10 name="pt_tn" value="0" disabled>
                                        </td>
                                    </tr>
                                    <tr class="mytable">
                                        <td><input type="checkbox" id="ck_dt" style="transform:scale(1.3)"></td>
                                        <td><b>Điền từ</b></td>
                                        <td>
                                            <input type="number" class="form-control so_luong" min=0 max=100 name="sl_dt" value="0" disabled>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control phan_tram chon_diem" min=0 max=10 name="pt_dt" value="0" disabled>
                                        </td>
                                    </tr>
                                    <tr class="mytable">
                                        <td><input type="checkbox" id="ck_tl" style="transform:scale(1.3)"></td>
                                        <td><b>Tự luận</b></td>
                                        <td>
                                            <input type="number" class="form-control so_luong" min=0 max=100 name="sl_tl" value="0" disabled>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control phan_tram chon_diem" min=0 max=10 name="pt_tl" value="0" disabled>
                                        </td>
                                    </tr>
                                </table>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div id="step-2">
                <div class="row">
                    <table class="mytable" style="width:100%">
                        <tr class="mytable">
                            <td id="max_tn">Trắc nhiệm: /</td>
                            <td id="max_dt">Điền từ: /</td>
                            <td id="max_tl">Tự luận: /</td>
                        </tr>
                    </table>
                </div>
                <br>
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                            <h2>Câu hỏi đã chọn</h2>
                          <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <table class="table table-striped jambo_table" id="list_ques_selected" width="100%">
                                <thead>
                                  <tr>
                                    <th>Câu hỏi</th>
                                  </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                            <h2>Câu hỏi   </h2>
                          <div class="clearfix"></div>
                        </div>

                        <div class="x_content">

                          <div class="">
                           <table class="table table-striped jambo_table" id="list_question" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Chủ đề</th>
                                        <th>Dạng câu hỏi</th>
                                        <th>Độ khó</th>
                                        <th>Người tạo</th>
                                        <th>Ngày tạo</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
              <div id="step-3" class="exam">
                <div class="row" id="tieude" style="text-align:center">
                    <div class="col-md-4">
                        <h5><b>{{user.truong.ten}}</b></h5>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-6">
                        <h5><b id="exam_name">Khảo sát chất lượng học kì I</b></h5>
                        <h5><b id="exam_year">Năm học 2018 - 2019</b></h5>
                        <b id="exam_subject">Môn : Toán 8 </b><i id="exam_time">(Thời gian làm bài 90 phút)</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-7">
                        <p>Họ tên học sinh: ............................................................................</p>
                    </div>
                    <div class="col-md-3">
                        <p>Lớp:............</p>
                    </div>
                </div>
                <div class="row">
                    <table class="exam_table">
                        <tr>
                            <td width="40%">Chữ kí của giám thị 1</td>
                            <td width="40%">Chữ kí của giám thị 2</td>
                            <td width="20%">Số Phách</td>
                        </tr>
                    </table>
                    <table class="exam_table">
                        <tr>
                            <td width="20%">Điểm bằng số</td>
                            <td width="20%">Điểm bằng chữ</td>
                            <td width="40%">Chữ kí của giáo viên</td>
                            <td width="20%">Số Phách</td>
                        </tr>
                    </table>
                    <div>
                        <b style="float: left;"><u>Đề bài</u></b>
                    </div>
                </div>
                <div id="3_con" class="exam_body">

                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="modal" id="question" role="dialog">
  <div  class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="question_title">Câu hỏi</h4>
        </div>
        <div class="modal-body" id="khung_modal">

        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-primary" id="select_question" style="display:none;" >Chọn</button>
           <button type="button" class="btn btn-danger" id="remove_question" style="display:none;" >Xóa</button>
           <button type="button" class="btn btn-default" data-dismiss="modal" >Đóng</button>
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'jQuery-Smart-Wizard/js/jquery.smartWizard.js' %}"></script>
<script src="{% static 'math/katex.min.js' %}"></script>
<script src="{% static 'math/highlight.min.js' %}" ></script>
<script src="{% static 'math/quill/quill.min.js' %}"></script>
<script src="{% static 'custom/js/giao_vien/exam_create_manual.js' %}"></script>
{% endblock %}