{% extends 'hieu_pho/base.html' %}

{% load static %}


{% block title %}{% endblock %}

{% block css %}
<link href="{% static 'datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{% csrf_token %}

<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
            <h2>Danh sách môn  </h2>
            <!--<button class="btn btn btn-round btn-primary"  style="float:right;" data-toggle="modal" data-target="#new_mon_multi" data-title="new">-->
                <!--<i class="fa fa-plus"></i> Thêm nhiều môn-->
            <!--</button>-->
            <button class="btn btn-round btn-primary"  style="float:right;" data-toggle="modal" data-target="#new_mon" data-title="new">
                <i class="fa fa-plus"></i> Tạo mới môn
            </button>
          <div class="clearfix"></div>
        </div>

        <div class="x_content">

          <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action" id="list_mon" width="100%">
                <thead>
                  <tr>
                    <th>Tên môn</th>
                    <th>Khối</th>
                      <th>Tùy chọn</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="new_mon" role="dialog">
  <div  class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="new_mon_title">Tạo mới môn học</h4>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            <input type="hidden" name="kieu">
            <input type="hidden" name="id">

            <div class="col-md-12 form-group has-feedback">
              <input type="text" class="form-control has-feedback-left" name="ten" placeholder="Tên môn" required>
              <span class="fa fa-font form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-12 form-group has-feedback">
              <input class="form-control has-feedback-left" type="number" name="khoi" min="1" max="12" placeholder="Nhập khối" required>
              <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
            </div>

             <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-primary" id="create_new_mon">Tạo mới</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'custom/js/hieu_pho/subject.js' %}"></script>
{% endblock %}